@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    list-style: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    background-color: aqua;
    color: azure;
}
.card-container{
    
    background-color: red;
    color: azure;
    padding: 25px 30px;
    width: 500px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.card-container .header {
    margin-bottom: 20px;
}
.card-container .header h1 {
    font-size: 40px;

}
.card-container .header p {
    font-size: 20px;
    letter-spacing: 1p;
    color: #dfdfdf;
    margin: 4px;
}

.card-container .question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.card-container li {
    background-color: #2893d6;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
    
}

button {
    margin-top: 20px;
    padding: 15px 22px;
    border: transparent;
    border-radius: 8px;
    background-color: blue;
    color: white;
    cursor: pointer; 
}
    

